body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #042241; 
    color: #ffffff;
}

header {
    background-color: #003061; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
}

nav a:hover {
    color: #ebbc00;
}

main {
    padding: 20px;
}

.promo-video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.promo-video iframe {
    max-width: 100%;
    border: 3px solid #ffffff; 
}

.promo-video iframe:hover {
    max-width: 100%;
    border: 3px solid #ff0000; 
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(204, 255, 255, 0.6); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 247, 135, 0.8);
}

footer {
    background-color: #00274e; 
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}

footer p {
    font-size: 0.9rem;
    color: #e6b800; 
}

/* -------------------- RESPONSIVE -------------------- */
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
